# yaml-language-server: $schema=https://json-schema.axonivy.com/app/12.0.0/variables.json
Variables:
  AiAssistant:
    OpenSearchVectorStoreUrl: http://localhost:19300
    AiModels:
      # Open AI models
      OpenAI:
        # The primary Open AI model. This instance use the 'GPT 4 Omni Mini' and 'text-embedding-3-large' models by default
        PrimaryModel:
          # Open AI model 'GPT 4 Omni Mini'
          Model: gpt-4o-mini
          # Open AI text embedding model 'text-embedding-3-large'
          EmbeddingModel: text-embedding-3-large
          #[password]
          ApiKey: ${decrypt:}
        # The secondary Open AI model. This instance use the 'GPT 4 Omni' and 'text-embedding-3-large' models by default.
        SecondaryModel:
          # Open AI model 'GPT 4 Omni Mini'
          Model: gpt-4o
          # Open AI text embedding model 'text-embedding-3-large'
          EmbeddingModel: text-embedding-3-large
          #[password]
          ApiKey: ${decrypt:}
    # [file: json]
    Assistants:
    # [file: json]
    AiFunctions:
    # [file: json]
    Suggestions:
    # [file: json]
    AssistantTemplates:
    # [file: json]
    KnowledgeBases:
