name: Dev-Build

on:
  push:
  schedule:
    - cron:  '21 21 * * *'
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write
  statuses: write
  actions: write
  checks: write

jobs:
  build:
    uses: axonivy-market/github-workflows/.github/workflows/dev.yml@v6
